<div class="container m-auto" style="max-width: 1170px; margin: auto;">
  <div class="mo-wb-w-30px mo-wb-h-30px flex-30 mo-wb-color-w d-flex align-items-center justify-content-center mo-wb-border-radius-30px text-uppercase"
  [style.background-color]="'' | getRandomColor"
  style="width: 30px; height: 30px; border-radius: 100%; display: flex; align-items: center; justify-content: center; color:#fff;">
    {{'Tuấn' | getFirstCharacter}}
  </div>
  <div [innerHTML]="data"></div>
  <ckeditor [editor]="editor" data="{{data}}"></ckeditor>
  <ngx-doc-viewer
    [url]="'https://themewagon.github.io/furni/images/couch.png'"
    viewer="url"
    (loaded)="handleLoaded($event)"
    style="width:100%;height:50vh;">
  </ngx-doc-viewer>
  <!-- <editor 
    apiKey="gzoe31w7xekwa9zmcxi1ik6y2i84g58rl4ki1m0ilonmtsnh" 
    style="position:relative;"
    [(ngModel)]="title_editor" [inline]="false" 
    [init]="{ plugins: 'preview importcss searchreplace autolink autosave save directionality visualblocks visualchars fullscreen link media template table charmap pagebreak nonbreaking anchor insertdatetime lists wordcount help charmap quickbars emoticons' }">
  </editor> -->
  <editor 
    apiKey="gzoe31w7xekwa9zmcxi1ik6y2i84g58rl4ki1m0ilonmtsnh"
    [(ngModel)]="title_editor" [inline]="false" 
    [init]="{
      plugins: 'tinycomments anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
      mergetags_list: [
        { value: 'First.Name', title: 'First Name' },
        { value: 'Email', title: 'Email' },
      ],
    }"
    (ngModelChange)="handleOnChangeContent($event)">
  </editor>
  <button (click)="getContent($event)">Get Content</button>
</div>